<li class="task clearfix">
  <span>
    <%= link_to '<i class="icon-check"></i>'.html_safe,
                task_completion_path(task), :method => :post, :class => 'btn btn-small' unless task.completed? %>
    <%= link_to '<i class="icon-check-empty"></i>'.html_safe,
                task_completion_path(task), :method => :delete, :class => 'btn btn-small' if task.completed? %>
  </span>
  <span class="<%= 'completed' if task.completed? %>"><%= task.title %></span>
  <div class="btn-group pull-right">
    <%= task_edit_button task %>
    <%= task_reassign_button task %>
  </div>
</li>