<div class="row-fluid">
  <%- model_class = Task.new.class -%>
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg %>
    </div>
  <% end %>
</div>

<div class="row-fluid">

  <div class="span3 alternate-day">
    <h3>Yesterday <%= list_reassign_button @yesterdays_list %></h3>
    <ul class="unstyled">
      <%= render partial: :task, collection: @yesterdays_list.tasks %>

    </ul>
    <h3>Past Incomplete <%= list_reassign_button @past_list %></h3>
    <ul class="unstyled">
      <%= render partial: :task, collection: @past_list.tasks.incomplete %>
    </ul>
  </div>

  <div class="span5">
    <h2>Today <%= list_reassign_button @todays_list %></h2>
    <ul class="unstyled">
      <%= render partial: 'form' %>
      <%= render partial: :task, collection: @todays_list.tasks %>
    </ul>
  </div>

  <div class="span3 alternate-day">
    <h3>Tomorrow</h3>
    <ul class="unstyled">
      <%= render partial: :task, collection: @tomorrows_list.tasks %>
    </ul>
  </div>
</div>